
	 <script type="text/javascript" src='/bower_components/jquery/jquery.min.js'></script>
	 <script type="text/javascript" src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
	<script type="text/javascript" src='/bower_components/layer/mobile/layer.m.js'></script>	 
	 <script type="text/javascript" src='/js/common.js'></script>
	 <script type="text/javascript" src='/js/admin.js'></script>
  </body>
</html>