<%- include('header') -%>
  <div class="main-block">
    <div class="panel panel-default" id="panel">
       <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-anchor"></i>管理员</h3>
        </div>
        <div class="panel-body">
         
        </div>       



      </div>
    </div>
  </div>


<%- include('footer') -%>


