<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="apple-mobile-web-app-capable" content="yes">  
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
  <title>基于B/S的学生信息管理系统</title>
  <link rel="stylesheet" type="text/css" href="/css/index-normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/index-default.css">
  <link rel="stylesheet" type="text/css" href="/css/index-styles.css"/> 
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
</head>
<body>
  <div class="htmleaf-header">
    <h1>基于B/S的学生信息管理系统<span>Student Information Management System</span></h1>
  </div>
  <div id="container" class="wrapper">
    <ul id="scene" class="scene unselectable"
      data-friction-x="0.1"
      data-friction-y="0.1"
      data-scalar-x="25"
      data-scalar-y="15">
      <li class="layer" data-depth="0.00"></li>
      <li class="layer" data-depth="0.10"><div class="background"></div></li>
      <li class="layer" data-depth="0.15">
        <ul class="rope depth-10">
          <li class="hanger position-2">
            <div class="board cloud-2 swing-1"></div>
          </li>
          <li class="hanger position-8">
            <div class="board birds swing-5"></div>
          </li>
        </ul>
      </li>
      <li class="layer" data-depth="0.20">
        
      </div>
      </li>
      <li class="layer" data-depth="0.30">
        <ul class="rope depth-30">
          <li class="hanger position-1">
            <div class="board cloud-1 swing-3"></div>
          </li>
        </ul>
      </li>
      <li class="layer" data-depth="0.30"><div class="wave paint depth-30"></div></li>
      <li class="layer" data-depth="0.40"><div class="wave plain depth-40"></div></li>
      <li class="layer" data-depth="0.50"><div class="wave paint depth-50"></div></li>
      <li class="layer" data-depth="0.60"><div class="lighthouse depth-60"></div></li>
      <li class="layer" data-depth="0.60">
      </li>
      <li class="layer" data-depth="0.60"><div class="wave plain depth-60"></div></li>
      <li class="layer" data-depth="0.80"><div class="wave plain depth-80"></div></li>
      <li class="layer" data-depth="1.00"><div class="wave paint depth-100"></div></li>
    </ul>
    <section id="about" class="wrapper about hide accelerate">
      <div class="cell accelerate">
        <div class="cables center accelerate">
          <div class="panel accelerate">
            <header>
              <h1>进入<em>系统</em></h1>
            </header>
            <div class="index-btn">
              <a href="/login">登陆(Login In)</a>
            </div>
            <br><br>
          </div>
        </div>
      </div>
    </section>
    <button id="toggle" class="toggle i">
      <div class="cross">
        <div class="x"></div>
        <div class="y"></div>
      </div>
    </button>
  </div>
  
  <script src="/js/libraries.min.js"></script>
  <script src="/js/jquery.parallax.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>